body{
    background-color: rgb(49, 48, 48);
    text-align: center;
}
h1{
    color: rgb(0, 248, 173);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
}
p{
    color: rgb(0, 248, 173);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.dice{
    display: inline-block;
    
}
.img1 , .img2{
    width: 60%;
}
em{
    color: white;
    margin-top: 5rem;
}